@import "bootstrap.min.scss"; 

$regFont: 'Open Sans', sans-serif;
$headingFont: 'Open Sans', sans-serif;
$datBlue: rgb(66, 139, 202);

.nightshade-circle {
    @extend .img-circle;
    border: 1px solid #ccc;
}

body {
    @extend .container;
    font-family: $regFont;
    font-size: 14px;
    width: 700px;
}

body>footer {
    border-top: 10px solid #333;        
    padding-top: 10px;
    padding-bottom: 10px;
    clear:both;
    text-transform: uppercase;
    margin-top: 35px;
}
body>article {
    min-height: 400px;
}

h1,h2,h3 {
    font-family: $headingFont;
    font-weight: 700;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.4em;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: $datBlue;
    text-decoration: none;
}

a:hover {
    background-color: #ccc;
    text-decoration: underline;
}

body>header{
    @extend .row;

    h1, nav {
        @extend .col-md-6;
    }

    nav {
        padding-top: 22px;
    }

    nav ul {
        @extend .btn-group;
    }
    nav li {
        @extend .btn;
        @extend .btn-default;
    }
}

#sessionTypePicker {

}

#selectedSessionTypeDescription {
    img { 
        @extend .nightshade-circle;
    }
}

#selectedSessionTypeDescription {
    height: 110px;
    img {
        @extend .pull-left;
        margin-right: 10px;
    }
}

#workAndBreakPlan {
    @extend .form-horizontal;

    label {
        @extend .col-sm-3;
        @extend .control-label;
        font-size: 0.7em;
    }
    .inputArea {
        @extend .col-sm-9;
    }
    input {
        @extend .form-control;
    }
    .submitArea {
        @extend .col-sm-offset-3;
        @extend .col-sm-9;
    }
}

section {
    @extend .panel;
    @extend .panel-default;

    header {
        @extend .panel-heading;
    }
    h3 {
        @extend .panel-title;
    }
    .formArea {
        @extend .panel-body;
    }
}

button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-lg;
}

.bigTimer {
    font-size: 3em;
}
.note {
    font-size: 0.7em;
    font-style: italic;
}

#settingsList {
    @extend .list-group;
    li {
        @extend .list-group-item;
    }
}

#statSummary {

}

.sessionTypeStat {
    display: inline-block;
    height: 90px;
    padding: 10px;
    img {
        @extend .nightshade-circle;
        height: 50px;
        width: 50px;
    }
    .badge {
        position: relative;
        right: 25px;
        bottom: -15px;
    }
}

#failurePanel {
    margin-bottom: 15px;    
    img {
        @extend .nightshade-circle;
        height: 150px;
        width: 150px;
    }
    .badge {
        position: relative;
        right: 35px;
        bottom: -55px;
    }
}

#achievementsPanel, #historyPanel {
    @extend .panel;
    @extend .panel-default;
    ul {
        @extend .list-group;
    }
    li {
        @extend .list-group-item;
        min-height: 95px;
    }
    img {
        @extend .nightshade-circle;
        @extend .pull-left;
        margin-right: 10px;
    }
}

#historyPanel {
    .work,.break {
        display: block;
        font-weight: bold;
    }
    .when {
        display: block;
    }
    .action { 
        min-height: 30px;
    }
}